name: Publish
on:
  push:
    branches:
       - main

permissions:
    contents: write
    issues: write
    pull-requests: write

jobs:
  release:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: "lts/*"
          registry-url: https://registry.npmjs.org/
      - uses: pnpm/action-setup@v4
        with:
          version: 9.11.0
      - run: pnpm install
      - run: pnpm run package

      
      - name: Publish package to npm
        id: publish
        uses: JS-DevTools/npm-publish@v3
        with:
          token: ${{secrets.NPM_TOKEN}}
